@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #0f0f0f;
  padding: 0 2%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo-part {
  display: flex;
  align-items: center;
}

.menu {
  margin-right: 15px;
}

.menu i,
.header-logo-part i {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.fa-brands.fa-youtube {
  color: red;
}

.header-logo-part span {
  margin-left: 10px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.header-search-part {
  flex: 0 1 40%;

  display: flex;
  align-items: center;
}

.header-search-part .search-box {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.header-search-part .search-box input {
  width: 100%;
  background-color: transparent;
  /* padding: 0 5%; */
  font-size: 18px;
  font-weight: 400;
  height: 40px;
  text-transform: capitalize;
  border: 0;
  outline: none;
  color: #fff;
  border-radius: 25px 0 0 25px;
  padding: 0 5%;
  border: 1px solid #222222;
}

.header-search-part .search-box .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;

  background-color: #222222;
  border-radius: 0 25px 25px 0;
}

.fa-solid.fa-magnifying-glass {
  font-size: 18px;
  color: #fff;
}

.micro {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-search-part i.fa-solid.fa-microphone {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.profile-icons {
  display: flex;
  align-items: center;

}

.profile-icons img {
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;

  cursor: pointer;
}

.profile-icons a i {
  color: #fff;
}

.profile-icons a {
  margin-right: 20px;
}

.content {
  display: flex;
}

.content .side-bar {
  width: 240px;
  background-color: #0f0f0f;
  overflow-y: scroll;
  height: calc(100vh - 60px);
  position: sticky;
  top: 60px;
}

.content .side-bar:hover::-webkit-scrollbar-thumb {
  background-color: #555555;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 5px;
}

.content .side-bar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.content .main-content {
  width: calc(100% - 240px);
}

.side-bar-links {
  display: flex;
  flex-direction: column;
  padding: 15px;
  
}

.side-bar-links a {
  color: #fff;
  background-color: transparent;
  padding: 10px;
  border-radius: 6px;
  text-transform: capitalize;
  line-height: 24px;
  display: flex;
}
.side-bar-links a> i {
  margin-right: 20px;
}
.side-bar-links a:hover,
.side-bar-links a:active {
  background-color: #222222;
}

.side-bar-links a.active {
  background-color: #222222;
}

.side-bar-links a i {
  margin-right: 25px;
}

.hr {
  width: 100%;
  height: 2px;
  background-color: #222222;
  margin: 15px 0;
}

.side-bar-links h3 {
  color: #fff;
  font-weight: 400;
  margin: 10px 0 20px;
  font-size: 18px;
}

.youtube-red {
  color: red;
}

.youtube-red .fa-solid.fa-circle-play {
  color: red;
}

.links-pages {
  display: inline-block;
  align-items: center;
}

.links-pages a {
  background-color: transparent;
  color: #c7c2c2;
  padding: 0 3px;
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
}
.links-pages a:hover,
.links-pages a:active {
  background-color: transparent;
  color: #999999;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  color: #555555;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.main-content{
  width: calc(100%-240px);
}
.main-content .chips{
background-color: #0f0f0f;
  
}

.main-content .history-titles{

  display: flex;
  /* margin: 15px 5%; */
  background-color: transparent;
  overflow-x: scroll;
  padding: 10px;
}
.main-content .history-titles::-webkit-scrollbar{
  height: 0;
}

.main-content .history-titles .history-titles-btn{

  background-color: #222222;
  padding: 10px 20px;
  border: 0;
  outline: none;
  color: #f3efef;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: color .2s ease;
  text-transform: capitalize;

  display: grid;
  grid-template-columns: max-content;
 
}


.main-content .history-titles .history-titles-btn:hover,
.main-content .history-titles .history-titles-btn:active{
  color: #777777;
}

/* video section */
.video-container{
  /* background-color: #0f0f0f; */
  padding: 10px 20px;
}
.video-bx{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 18px;
}
.video-bx .box .banner{
  width: 100%;
  height: 220px;
  border-radius: 20px;
  object-fit: cover;
}
.video-bx  .box{
  max-width: 450px;
  width: 100%;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.video-bx  .box .profile{
  display: flex;
  justify-content: space-between;
  padding: 14px 10px;
}

.video-bx .profile .img-pro> img{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.title-vide0{
  color: white;

}
.title-vide0 h2{
  font-size: 18px;
}
.video-bx  .box .title-profile{
  margin-left: 60px;
  color: #919191;
}
.video-bx  .box .follers{
  color: white;
  margin-left: 60px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.icon .fa-solid.fa-ellipsis-vertical{
  color: white;
}



@media only screen and (max-width: 1629px){

.video-container .video-bx{

  grid-template-columns: repeat(3,1fr);

}
}
@media only screen and (max-width: 1312px){

.side-bar{
  width: 60px;
  overflow-y: hidden;
}
.side-bar::-webkit-scrollbar{
  height: 0;
  width: 0;
}
.side-bar-links a i {
  margin-right: 35px;
}
.more{
  display: none;
}
.content .main-content {
  width: calc(100% - 70px);
}
}
@media only screen and (max-width: 1127px){
  .video-container .video-bx{

    grid-template-columns: repeat(2,1fr);
  
  }
}
@media only screen and (max-width: 858px){
  .side-bar{
   display: none;
  }
  .content .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 margin: 0 auto;

  }
}
@media only screen and (max-width: 660px){
  .video-container .video-bx{
  grid-template-columns: repeat(1,1fr);
  width: 90%;
  margin:  0 auto;


  
  }
  .video-container .video-bx .box{
    max-width: 100%;

  }
  .content .main-content .video-container{
    width: 100%;
  }
 .hidesearch{
    visibility: hidden;
  } 
  .header-search-part .search-box .btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
  
    background-color: transparent;
    border-radius: 0 25px 25px 0;
  }
 
}